.project
.pydevproject
*.pyc
*.pyo
.project
.pydevproject
.settings
/web/maintenance.html
*.swp
/env
/Putio.egg-info/
.idea
activate_env
.DS_Store
/download
/downloads
/extraction
/extractions
/mp4s
/mogilefs
/shared_tmp
/trans_cfg
/wget_info
/uploads
/web_uploads
.vagrant
build/
