<?xml version="1.0" encoding="utf-8" ?>
<component name="SettingsScreen" extends="Group">
  <script type="text/brightscript" uri="pkg:/components/screens/Settings/Settings.brs" />

	<interface>
    <field id="params" type="assocarray" />
		<field id="navigate" type="assocarray" />
  </interface>

	<children>
		<Overhang
			id="overhang"
			showClock="false"
      title="Settings"
			logoUri="pkg:/images/OverhangLogo.png"
			logoBaselineOffset="9"
			showOptions="true"
			optionsAvailable="false"
			optionsDimColor="0x00000000"
			optionsIconDimColor="0x00000000"
		/>

		<MarkupList
			id="settingsList"
			itemComponentName="ListItem"
			translation="[210, 190]"
			itemSize="[1500, 120]"
			itemSpacing="[0, 40]"
			focusBitmapBlendColor="0x00000FF"
		/>
	</children>
</component>
