<?xml version="1.0" encoding="utf-8" ?>

<component name="App" extends="Scene" initialFocus="splashScreen">
  <script type="text/brightscript" uri="pkg:/components/App.brs" />

  <interface>
    <field id="exitApp" type="boolean" value="false" />
  </interface>

  <children>
    <SplashScreen
      id="splashScreen"
      visible="true"
      translation="[0, 0]"
    />

    <AuthScreen
      id="authScreen"
      visible="false"
      translation="[0, 0]"
    />

    <FileListScreen
      id="filesScreen"
      visible="false"
      translation="[0, 0]"
    />

    <VideoScreen
      id="videoScreen"
      visible="false"
      translation="[0, 0]"
    />

    <VideoPlayerScreen
      id="videoPlayerScreen"
      visible="false"
      translation="[0, 0]"
    />

    <SettingsScreen
      id="settingsScreen"
      visible="false"
      translation="[0, 0]"
    />
  </children>
</component>
