<?xml version="1.0" encoding="utf-8" ?>

<component name="App" extends="Scene" initialFocus="screenHost">
  <script type="text/brightscript" uri="pkg:/components/shared/PlaybackConfig.brs" />
  <script type="text/brightscript" uri="pkg:/components/shared/KeyUtils.brs" />
  <script type="text/brightscript" uri="pkg:/components/App.brs" />

  <interface>
    <field id="exitApp" type="boolean" value="false" />
    <field id="deepLink" type="assocarray" alwaysNotify="true" />
  </interface>

  <children>
    <Group
      id="screenHost"
      focusable="true"
    />

    <AppDialog
      id="appDialog"
      visible="false"
    />
  </children>
</component>
